<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django1 - Index</title>
</head>
<body>
    <h1>Index</h1>
    <!-- <h2>{{ curso }}</h2>
    <p>{{ outro }}</p>
    -->
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>sobrenome</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td><a href="{% url 'cliente' cliente.id %}">{{cliente.id}}</a></td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.sobrenome}}</td>
                <td>{{cliente.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

